/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
	box-sizing:border-box;
}

body{
	background: url("../img/brushed_alu_dark.png");
}

header,
section{
	padding: 1%;
	/*background: url("../img/mirrored_squares.png");*/
}

.container{
	background: url("../img/mirrored_squares.png");
}

.masthead{
	text-align: center;
}

.masthead img{
	width: 75%;
}

h1{
	color: #C3262E;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 2px solid #000;
	float: left;
	margin: 0 10px;
	height: 75px;
	width: 75px;
}

.color-1{
	background: #C3262E;
}

.pattern-1{
	background: url("../img/mirrored_squares.png");
}

.pattern-2{
	background: url("../img/dark_geometric.png");
}

.pattern-3{
	background: url("../img/brushed_alu_dark.png");
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}