/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
	box-sizing:border-box;
}

body{
	/*background: url("../img/brushed_alu_dark.png");*/
}

header,
section{
	padding: 1%;
	/*background: url("../img/mirrored_squares.png");*/
}

.container{
	background: url("../img/mirrored_squares.png");
}

.masthead{
	text-align: center;
}

.masthead img{
	width: 75%;
}

header img{
	position: relative;
	top: -12px;
}

h1{
	color: #C3262E;
	font-family: 'Federo', sans-serif;
}

h2{
	color: #573D34;

}


h3,
p a{
	color: #C44413/*#0E6190*/;
}

a{
	text-decoration: none;
}

p a:hover{
	color:#469643/*#4EA84B*/;
}

a.button{
	background: #469643;
	color: #573D34;
	display: inline-block;
	padding: 1%;
	margin: 1%;
	
}

a.button:hover{
	background: #573D34;
	color: #469643;
}

.color-1,
.color-2,
.color-3,
.color-4,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 2px solid #000;
	float: left;
	margin: 0 10px;
	height: 75px;
	width: 75px;
}

.color-1{
	background: #C3262E;
}

.color-2{
	background: #469643/*#4EA84B*/;
}

.color-3{
	background: #573D34;
}

.color-4{
	background: #C44413/*#0E6190*/;
}

.pattern-1{
	background: url("../img/mirrored_squares.png");
}

.pattern-2{
	background: url("../img/dark_geometric.png");
}

.pattern-3{
	background: url("../img/brushed_alu_dark.png");
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}